table td {
  border: 1px solid #615858;
  width: 5rem;
  height: 5rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  align-items: center;
}